---
title: Jamborette 2024
layout: default
background: '/img/bg-index.jpg'
---

<div>{% assign lang = "da" %}</div>
<div>{% assign tmp_url = page.url | remove_first: "/en/"%}</div>
<div>{% if page.url != tmp_url %} {% assign lang = "en" %} {% endif %}</div>

<!-- Home Intro
================================================== -->
<!-- {% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 text-center col-sm-6">
      <h1 class=" mb-2 serif-font display-4">
        Jamborette 2024 </h1>
        <h1 class="mb-4 "><i> - vi knytter bånd</i></h1>
        <div class="font-weight-bold">20.-27. juli 2024</div>
      <p class="lead mb-4">
        Vær med til Dansk Spejderkorps Sydslesvigs korpslejr i sommeren 2024 på Spejdergården Tydal.
        Følg med på vores sociale medier for at blive opdateret.
      </p>
      <a href="{{site.baseurl}}/vision" class="btn btn-dark text-white" style="white-space: normal;">
        Læs om Jamborette 2024's vision
      </a>
    </div>
    <div class="col-md-6  col-sm-6">
      <img class="intro rounded" height="500" src="{{site.baseurl}}/assets/images/gruppebillede.png">      
    </div>
  </div>
</div>
{% endif %} -->

{% if page.url == "/" %} 
<!-- <div class="row">
  <div class="col-md-2 col-md-offset-5">
    <img class="intro rounded" src="{{site.baseurl}}/assets/images/logo_side.png">
    <span class="">20.-27. juli 2024</span>
  </div>
</div> -->

<div class="rounded mb-5">
  <div class="image-container">
    <img src="{{site.baseurl}}/assets/images/20240726TR001.png" class="rounded">
    <div class="centered-in-image">
      <h1 class="display-5">Tak for en kæmpe oplevelse på</h1>
      <h1 class="display-1">Tydal Jamborette 2024</h1>
    </div>
    <div class="bottom-left-in-image">
      <img src="{{site.baseurl}}/assets/images/logo_lilje_color-medium.png" class="image-in-image">
    </div>
  </div>
  <span class="image-caption">Foto: Tim Riediger</span>
</div>

<div class="rounded mb-5">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <!-- <div class="carousel-item active">
      <img src="{{site.baseurl}}/assets/images/Pages/20190630TR040.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Den endelige tilmelding er åben</h5>
        <p>Vær med til Dansk Spejderkorps Sydslesvigs korpslejr 20.-27. juli 2024 på Spejdergården Tydal.</p>
        <a href="{{site.baseurl}}/tilmelding" class="btn btn-secondary text-white" style="white-space: normal;">
          Tilmeld dig her...
        </a>
      </div>
    </div> -->
    <!-- <div class="carousel-item active">
      <img src="{{site.baseurl}}/assets/images/Posts/Jambogrette 2024 - Tydal Jamborette Kogebog.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Hent JamBOGrette, Tydal Jamborette 2024s kogebog</h5>
        <p>Fra bålmad til bæredygtige snacks – denne kogebog er jeres guide til velsmagende og mindeværdige madoplevelser på lejren.</p>
        <a href="{{site.baseurl}}/kogebog" class="btn btn-secondary text-white" style="white-space: normal;">
          Hent kogebogen her...
        </a>
      </div>
    </div> -->
    <div class="carousel-item active">
      <img src="{{site.baseurl}}/assets/images/Pages/20240721JG054.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tyddelyt, Tydal Jamborette 2024s lejravis</h5>
        <p></p>
        <a href="{{site.baseurl}}/tyddelyt" class="btn btn-secondary text-white" style="white-space: normal;">
          Læs lejravisen her...
        </a>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <img src="{{site.baseurl}}/assets/images/Pages/20240428TR0082.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lejrsang er ude nu!</h5>
        <p>Vi er så super glade for at kunne præsentere jer for Tydal Jamborette 2024's lejrsang! 🤩 </p>
        <a href="{{site.baseurl}}/lejrsang" class="btn btn-secondary text-white" style="white-space: normal;">
          Find teksten og øv sangen sammen med os her...
        </a>
      </div>
    </div> -->
    <div class="carousel-item">
      <img src="{{site.baseurl}}/assets/images/Pages/20150725KK018.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lejrens highlight: Fremtidsfestival</h5>
        <p>Torsdag er øremærket til en helt særlig event - en FREMTIDSFESTIVAL. I fællesskab skal vi spejdere udvikle et sæt færdigheder til at gå fremtiden i møde.</p>
        <a href="{{site.baseurl}}/fremtidsfestival" class="btn btn-secondary text-white" style="white-space: normal;">
          Læs mere her...
        </a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<!-- <div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-5 hide-mobile">
      <div class="text-center">
        <img class="ml-4 rounded image-border" src="{{site.baseurl}}/assets/images/Pages/lejrbaal.jpg" style="max-height: 400px;">
      </div>
    </div>
    <div class="col-md-7">
      <div class="col-md-12 text-center col-sm-12 mb-4">
        <h1 class="mb-2 display-4">
          Tydal Jamborette 2024 </h1>
        <img class="intro rounded" src="{{site.baseurl}}/assets/images/logo_side.png">
          <h1 class="mb-4"><i> - vi knytter bånd</i></h1>
      </div>
      <div class="col-md-12 text-center col-sm-12 mb-4 lead">
        <span>Vær med til Dansk Spejderkorps Sydslesvigs korpslejr i sommeren 2024 på Spejdergården Tydal.</span>
        </br>
        <span class="font-weight-bold">20.-27. juli 2024</span>
        </br>
        <span>Forhåndstilmeldingen er åben nu!</span>
      </div>
      <div class="col-md-12 text-center col-sm-12">
        <a href="{{site.baseurl}}/tilmelding" class="btn btn-dark text-white" style="white-space: normal;">
          Forhåndstilmeld dig her
        </a>
      </div>
    </div>
  </div>
  </div>
</div> -->

<div class="d-grid text-center gap-2 d-md-block col-12 mx-auto mb-5" style="margin-top: -15px;">
  <div style="margin-bottom: 5px;">
    <h1 style="margin-bottom: 0px;">Lige nu...</h1>
    <small>Tydal Jamborette 2024 er lige rundt om hjørnet. Her finder du nogle hurtige links til dét der sker lige nu.</small>
  </div>
  <!-- <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/tilmelding/hjælper">
    Hjælper tilmelding
  </a> -->
  <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/tyddelyt">
    Tyddelyt (Lejravis)
  </a>
  <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/lejrsang">
    Lejrsang
  </a>
  <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/fremtidsfestival">
    Fremtidsfestival
  </a>
  <!-- <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/lejrtøj">
    Lejrtøj
  </a> -->
  <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/kogebog">
    JamBOGrette
  </a>
  <!-- <a class="btn btn-block btn-lg btn-secondary text-white" href="{{site.baseurl}}/lejrkort">
    Lejrkort
  </a> -->
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% assign posts=site.posts | where: "lang", lang | where: "inactive",
  null %}
    {% for post in posts %}
      {% if post.featured == true %}
        <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% assign posts=paginator.posts | where: "lang", lang | where: "inactive",
      null %}
      {% for post in posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
