---
title: Jamborette 2024
layout: default
background: '/img/bg-index.jpg'
---

<div>{% assign lang = "da" %}</div>
<div>{% assign tmp_url = page.url | remove_first: "/en/"%}</div>
<div>{% if page.url != tmp_url %} {% assign lang = "en" %} {% endif %}</div>

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 text-center col-sm-6">
      <h1 class=" mb-2 serif-font display-4">
        Jamborette 2024 </h1>
        <h1 class="mb-4 "><i> - vi knytter bånd</i></h1>
        <div class="font-weight-bold">20.-27. juli 2024</div>
      <p class="lead mb-4">
        Vær med til Dansk Spejderkorps Sydslesvigs korpslejr i sommeren 2024.
        Følg med på vores sociale medier for at blive opdateret.
      </p>
      <a href="{{site.baseurl}}/vision" class="btn btn-dark text-white" style="white-space: normal;">
        Læs om Jamborette 2024's vision
      </a>
    </div>
    <div class="col-md-6  col-sm-6">
      <img class="intro rounded" height="500" src="{{site.baseurl}}/assets/images/gruppebillede.png">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% assign posts=site.posts | where: "lang", lang | where: "inactive",
  null %}
    {% for post in posts %}
      {% if post.featured == true %}
        <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% assign posts=paginator.posts | where: "lang", lang | where: "inactive",
      null %}
      {% for post in posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
