{%if lang == "da"%}
<div class="sidebar sticky-top">
  <div class="sidebar-section">
    <h5><span>Bliv hjælper!</span></h5>
    Har du lyst til at være med til at skabe en kæmpe oplevelse for en masse
    børn og unge? Så bliv hjælper på Jamborette 2024!
    <a
      href="{{ site.baseurl }}/bliv-hjaelper"
      class="btn btn-primary btn-block px-3 mt-2"
    >
      Læs mere her.
    </a>
  </div>

  <div class="sidebar-section">
    <h5><span>Har du en god idé?</span></h5>
    Så send den afsted til lejrcheferen!
    <a
      href="mailto:lejrchef@jamborette.de?subject=Jeg har en god idé!"
      class="btn btn-danger btn-block px-3 mt-2"
    >
      Send en besked
    </a>
  </div>
</div>
{%else%}
<div class="sidebar sticky-top">
  <div class="sidebar-section">
    <h5><span>Volunteer!</span></h5>
    Do you want to be part of creating a huge experience for children and young
    adults? Then become a volunteer at Jamborette 2024!
    <a
      href="{{ site.baseurl }}/{{lang}}/volunteer"
      class="btn btn-primary btn-block px-3 mt-2"
    >
      Read more
    </a>
  </div>

  <div class="sidebar-section">
    <h5><span>Do you have a good idea?</span></h5>
    Then send it to the camp chiefs!
    <a
      href="mailto:lejrchef@jamborette.de?subject=Jeg har en god idé!"
      class="btn btn-danger btn-block px-3 mt-2"
    >
      Send a message
    </a>
  </div>
</div>
{%endif%}
