<div class="sidebar sticky-top">
  <div class="sidebar-section">
    <h5><span>Bliv hjælper!</span></h5>
    Har du lyst til at være med til at skabe en kæmpe oplevelse for en masse
    børn og unge? Så bliv hjælper på Jamborette 2024!
    <a
      href="{{ site.baseurl }}/bliv-hjaelper"
      class="btn btn-primary btn-block px-3 mt-2"
    >
      Læs mere her.
    </a>
  </div>

  <div class="sidebar-section">
    <h5><span>Har du en god idé?</span></h5>
    Så send den afsted til lejrcheferen!
    <a
      href="mailto:lejrchef@jamborette.de?subject=Jeg har en god idé!"
      class="btn btn-danger btn-block px-3 mt-2"
    >
      Send en besked
    </a>
  </div>
</div>
