---
---

// @import "../../_sass/bootstrap.scss";

//@import "../../_sass/bootstrap/bootstrap.scss";
// content

.featured-image {
  object-fit: cover;
  max-height: 200px;
  width: 100%;
}

.image-caption {
  font-size: x-small;
  font-style: italic;
  text-align: right;
  display: block;
}

.card img.rounded {
  object-fit: cover;
  max-height: 125px;
  width: 100%;
}
