---
---

// start content

// $green: #08a057 !default;
// $blue: #3d61fd !default;
.nothing {
  width: 1px;
}

@import "bootstrap/functions";
@import "bootstrap/variables";

$red: #ffb3ba;
$orange: #ffdfba;
$yellow: #ffffba;
$green: #baffc9;
$blue: #bae1ff;

$background: #fff;
$fontcolor: #333;
$primary: #6ea8ff;
$secondary: #608655;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
  )
);

@import "bootstrap/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

/* add additional CSS rules below */
html {
  scroll-behavior: smooth;
}

body {
  background: $background;
  font-size: 17px;
  transition: all 200ms linear;
  font-family: "Roboto", "PT Sans", sans-serif;
  line-height: 1.7;
  color: $fontcolor;
  overflow-x: hidden;
  padding-top: 116px;
}
.serif-font {
  font-family: "Roboto Slab", "PT Sans";
}
@media (max-width: 1366px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    width: 90%;
    max-width: 90%;
    padding: 0 25px;
  }
}
main {
  min-height: 500px;
  margin-top: 15px;
}
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-light .navbar-brand,
.text-dark,
.dropdown-item {
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @extend .serif-font;
  font-weight: 400;
}
h4,
.h4,
h5,
.h5 {
  line-height: 1.4;
}

.h0 {
  font-size: 2.5rem;
}

h1,
.h1 {
  font-size: 1.6rem;
  margin-top: 3rem;
}

h2,
.h2 {
  font-size: 1.3rem;
  margin-top: 1rem;

  &:before {
    content: "\00BB";
    margin-right: 6px;
  }
}

h3,
.h3 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  @extend .serif-font;
}

.font-weight-bold {
  font-weight: 600 !important;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
  &:hover {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s;
  }
}
img,
video {
  max-width: 100%;
}

.item-card .categories {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 13px;
  a {
    background: #333;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
  }
}
small,
.small {
  font-size: 90%;
}
.big {
  font-size: 1.4em;
}
/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-header.scroll-on {
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}
.start-header.scroll-on .navbar-brand img {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navigation-wrap {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
  background: #fff;
}
.social-icon {
  display: inline-block !important;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

/* Sidebar
================================================== */
.sidebar.sticky-top {
  top: 96px;
  .dropdown-item {
    opacity: 0.6;
  }
  .dropdown-item.blog {
    display: none;
  }
}

/* Pages
================================================== */
.hero {
  margin-top: 1em;
  background: rgba($secondary, 0.25);
  padding: 3vw 2vh;
}

.hero {
  .intro {
    max-height: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .page-header.big {
    font-size: 3.5em;
  }
  .wrap-page-header {
    padding: 2rem 0 3rem;
  }
  .wrap-page-header {
    display: none;
  }
  .layout-default .wrap-page-header {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .page-header.big {
    font-size: 2.5em;
  }
}
.google-auto-placed {
  margin-bottom: 2rem;
}
.comma:last-child {
  display: none;
}

.hero h1 {
  // font-size: 2.5em;
}
.section-title h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 27px;
  position: relative;
}
.section-title h2:before {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  left: 15px;
  right: 0px;
  top: 15px;
  height: 1px;
  content: "";
  background-color: #efefef;
}

.section-title span {
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0px 15px 0 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.layout-page .section-title span {
  font-size: 2rem;
  text-transform: none;
  letter-spacing: 0;
}
.layout-page .section-title h2:before {
  top: 17px;
}
.article-post ol,
.article-post ul {
  margin-bottom: 1.5rem;
}
.article-post ol ol,
.article-post ul ul {
  list-style: disc;
  margin-bottom: 0rem;
}
.prevnextlinks .thepostlink {
  padding: 20px 0;
  font-size: 17px;
  display: block;
  color: #111;
  font-weight: 500;
}
.prevnextlinks {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-left: 0;
  margin-right: 0;
}
.prevnextlinks .rightborder {
  border-right: 1px solid #eee;
}
.author-thumb {
  object-position: center;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border-radius: 100%;
  border: 2px solid #eaeaea;
  padding: 2px;
  object-fit: cover;
}
.post-top-meta {
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.post-top-meta .author-thumb {
  width: 72px;
  height: 72px;
}
.post-top-meta.authorpage .author-thumb {
  margin-top: 40px;
}
.post-top-meta span {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.44);
  display: inline-block;
}
.post-top-meta .author-description {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 0.95rem;
}
.author-meta {
  flex: 1 1 auto;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
span.post-name,
span.post-date,
span.author-meta {
  display: inline-block;
}

span.post-read-more a {
  color: rgba(0, 0, 0, 0.44);
  align-items: center;
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
}
span.post-name a,
span.post-read-more a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.dot:after {
  content: "·";
  margin-left: 3px;
  margin-right: 3px;
}
.mainheading h1.posttitle {
  font-weight: 700;
  margin-bottom: 2rem;
}
.link-dark {
  color: rgba(0, 0, 0, 0.8);
}
.article-post {
  font-size: 0.95em;
  line-height: 1.64;
  color: rgba(0, 0, 0, 0.8);
  code {
    font-size: 15px;
  }
  a {
    color: inherit;
    box-shadow: inset 0 -2px 0 rgba(255, 229, 31, 1),
      0 2px 0 rgba(255, 229, 31, 1);
  }
  a:hover {
    box-shadow: inset 0 -30px 0 rgba(255, 229, 31, 1),
      0 2px 0 rgba(255, 229, 31, 1);
    text-decoration: none;
  }
  img,
  iframe {
    border-radius: 0.25rem !important;
  }
}

blockquote {
  border-left: 4px solid #222;
  padding: 0 0 0 20px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  font-size: 0.9em;
}
.featured-image {
  display: block;
  margin-bottom: 2rem;

  &.full-size {
    object-fit: contain;
  }

  &.half-size {
    object-fit: contain;
    width: 60%;
    max-height: 100%;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media (max-width: 1024px) {
  .post-top-meta .col-md-10 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .post-top-meta.authorpage {
    text-align: center;
  }
}

.card {
  border: 0;
}
.card .img-thumb {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
ul.tags {
  list-style: none;
  padding-left: 0;
  margin: 0 0 1.5rem 0;
}
ul.tags li {
  display: inline-block;
  font-size: 0.9rem;
}
ul.tags li a {
  color: #333;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 500;
  background: #eee;
  text-transform: capitalize;
  box-shadow: 0 6px 10px 0 rgba(169, 169, 169, 0.1);
}
ul.tags li a:hover {
  background: rgba(0, 0, 0, 0.07);
  text-decoration: none;
}
.margtop3rem {
  margin-top: 3rem;
}
.sep {
  height: 1px;
  width: 20px;
  background: #999;
  margin: 0px auto;
  margin-bottom: 1.2rem;
}

.btn.follow {
  border-color: #ccc;
  color: #999;
  padding: 3px 10px;
  text-align: center;
  border-radius: 999em;
  font-size: 0.85rem;
  display: inline-block;
  box-shadow: none;
  font-weight: 400;
}
.btn.subscribe {
  background-color: #1c9963;
  border-color: #1c9963;
  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  border-radius: 30px;
  font-size: 0.85rem;
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-top-meta .btn.follow {
  margin-left: 5px;
  margin-top: -4px;
}

.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-control::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-control {
  border: 1px solid #eee;
  border-radius: 0;
}
.authorpage h1 {
  font-weight: 700;
  font-size: 30px;
}
.post-top-meta.authorpage .author-thumb {
  float: none;
}
.authorpage .author-description {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.post-top-meta.authorpage .btn.follow {
  padding: 7px 20px;
  margin-top: 10px;
  margin-left: 0;
  font-size: 0.9rem;
}
.graybg.authorpage {
  border-top: 1px solid #f0f0f0;
}
.authorpostbox {
  width: 760px;
  margin: 0px auto;
  margin-bottom: 1.5rem;
  max-width: 100%;
}
.authorpostbox .img-thumb {
  width: 100%;
}
.sociallinks {
  margin: 1rem 0;
}
.sociallinks a {
  background: #666;
  color: #fff;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  font-size: 12px;
}
#comments {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.sidebar {
  font-size: 15px;
}
.sidebar h5 {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  font-weight: 700;
}
.sidebar h5 span {
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0px 15px 0 15px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sidebar h5:before {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 15px;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #333333;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar ul li a {
  color: #999;
  border-bottom: 1px solid #f6f6f6;
  display: block;
  padding-bottom: 7px;
  padding-top: 7px;
}
.sidebar-section {
  margin-bottom: 2rem;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.44);
  padding: 30px;
}
.sidebar #mc_embed_signup form {
  padding: 0 !important;
}
.sidebar #mc_embed_signup .button {
  width: 100% !important;
  background: #3d61fd !important;
  height: auto;
  padding: 6px 20px;
  font-weight: 400;
}
.sidebar #mc_embed_signup h2 {
  font-weight: 400;
  font-size: 15px;
  color: #999;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: center;
}
.sidebar #mc_embed_signup input {
  width: 100%;
}
.sidebar #mc_embed_signup .mc-field-group {
  width: 100% !important;
}
#mc_embed_signup .mc-field-group input {
  text-indent: 5% !important;
}
#mc_embed_signup {
  font-family: inherit !important;
}
.sidebar-right .sidebar {
  max-width: inherit;
}

.article-post .h1,
.article-post .h2,
.article-post .h3,
.article-post .h4,
.article-post .h5,
.article-post .h6,
.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
  font-weight: 400;
  font-family: PT Sans;
  // margin-top: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.bottompagination span.navigation a {
  background: #fdd93d;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
  min-width: 100px;
  display: inline-block;
}
.pointerup {
  margin-bottom: -18px;
  margin-left: 49%;
  font-size: 30px;
}
.pointerup i.fa {
  color: #eaeaea;
}
.bottompagination span.navigation i {
  display: inline-block;
}
span.navigation {
  display: block;
  font-size: 0.93rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
span.navigation:before {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
  top: 12px;
  height: 1px;
  content: "";
}
.pagination {
  display: inline-block;
  background: #fff;
  z-index: 1;
  position: relative;
  padding: 0 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer {
  margin-top: 4rem;
  padding: 30px 0;
  ul li {
    display: inline-block;
    padding: 10px;
  }
}

.hover-opacity:hover {
  transition: all.3s;
  opacity: 0.8;
}

.site-logo {
  max-height: 60px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-item:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  top: 80%;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.featured-image {
  object-fit: cover;
  max-height: 200px;
  width: 100%;
}

.image-caption {
  font-size: x-small;
  font-style: italic;
  text-align: right;
  display: block;
}

.card img.rounded {
  object-fit: cover;
  max-height: 125px;
  width: 100%;
}

.navbar-nav .dropdown-menu {
  left: auto;
}

hr {
  width: 100%;
}

.jumbotron {
  background-color: lighten($primary, 20%);
  border-radius: 0.25rem !important;
}

.logo-konkurrence {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headline {
    @extend .jumbotron;
    @extend .h1;

    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background: linear-gradient(45deg, #ffdfba, #ee7752, #e73c7e);
    // color: #333;
    height: 100%;
    padding: 15px;
    text-align: center;
    align-self: center;
  }

  img {
    border-radius: 0.25rem !important;
    max-width: 100%;
    min-height: 250px;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
  }

  .card {
    border: 1px solid #b5a083e3;

    .card-header {
      background-color: #ffdfbaba;
      border-bottom: 1px solid #b5a083e3;
    }

    .card-footer {
      color: #222;
      background-color: #ffdfbaba;
      border-top: 1px solid #b5a083e3;
    }

    .card-body:hover {
      background-color: #ffdfba56;
    }
  }

  .cards {
    align-items: baseline;
  }
}

.article-post a,
a {
  color: inherit;
  box-shadow: inset 0 -2px 0 $secondary, 0 2px 0 $secondary;
  &:hover {
    color: $background;
    box-shadow: inset 0 -30px 0 $secondary, 0 2px 0 $secondary;
    text-decoration: none;
  }
}

a.btn,
h2.card-title a,
a.no-shadow {
  box-shadow: none;

  &:hover {
    box-shadow: none;
    color: $fontcolor;
  }
}

table {
  @extend .table;
  @extend .table-bordered;

  $tableborder: lighten($secondary, 20%);
  $tablerow1: lighten($secondary, 45%);
  $tablerow2: lighten($secondary, 50%);

  border: none;

  td {
    border: 1px solid $tableborder;
  }

  thead th {
    border: 1px solid $tableborder;
    border-bottom: 2px solid $tableborder;
  }

  tr:nth-child(2n) {
    background-color: $tablerow1;
  }

  tr:nth-child(2n) {
    background-color: $tablerow1;
  }

  tr:nth-child(2n + 1) {
    background-color: $tablerow2;
  }

  tr:nth-child(2n + 1) {
    background-color: $tablerow2;
  }
  // tbody tr:nth-child(odd) {
  //   ⋮ declarations
  // }

  &.table-program {
    width: 100%;
    text-align: center;
    vertical-align: middle;

    th,
    td:nth-child(1) {
      @extend .small;
      font-weight: 400;
      font-style: italic;
    }

    th:nth-child(1),
    td:nth-child(1) {
      border-right: 2px solid $tableborder;
    }

    .rotate {
      max-width: 50px;
      vertical-align: middle;
      transform: rotate(-90deg);
      -moz-transform: rotate(-90deg); /* FF3.5+ */
      -o-transform: rotate(-90deg); /* Opera 10.5 */
      -webkit-transform: rotate(-90deg); /* Saf3.1+, Chrome */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    }
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 400px) {
  .social-nav {
    display: none !important;
  }

  .social-nav-inline {
    display: block !important;

    .social-icon {
      margin-left: 0;
    }
  }
}

.social-icon:first-child {
  margin-left: 0;
}

.social-nav-inline {
  display: none;
}

img.image-border {
  border: 2px $fontcolor solid;
}

iframe {
  width: 100% !important;
  // min-width: 200px;
  margin: 0;
}
